<main> 
  <div class="forgot-password-container">
    <h2>Forgot your password?</h2>
    <p>Enter your email below to reset your password.</p>
    <form *ngIf="!passwordChanged" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <button type="submit" class="submit-btn">Send Password Reset Link</button>
      <button type="button" class="next-btn" (click)="passwordChanged = true">Next</button>
    </form>
  
    <form *ngIf="passwordChanged" (ngSubmit)="onPasswordReset()">
      <div class="form-group">
        <label for="token">Reset Code:</label>
        <input type="text" id="token" name="token" [(ngModel)]="token" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
      </div>
      <button type="submit" class="submit-btn">Reset Password</button>
    </form>
  </div>
</main>