<div class="container">
  <h2>Mitt Konto</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Mina uppgifter</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="customer; else noCustomer">
        <tr>
          <th scope="row name">Namn</th>
          <td *ngIf="!isEditing">{{ customer.name }}</td>
          <td *ngIf="isEditing"><input [(ngModel)]="customer.name" class="form-control"></td>
          <td>
            <button type="button" class="btn btn-red" (click)="toggleEdit()">
              {{ isEditing ? 'Save' : 'Edit' }}
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row epost">E-post</th>
          <td *ngIf="!isEditing">{{ customer.email }}</td>
          <td *ngIf="isEditing"><input [(ngModel)]="customer.email" class="form-control"></td>
          <td>
            <button type="button" class="btn btn-red" (click)="toggleEdit()">
              {{ isEditing ? 'Save' : 'Edit' }}
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row dob">Födelseår</th>
          <td *ngIf="!isEditing">{{ customer.dob }}</td>
          <td *ngIf="isEditing"><input [(ngModel)]="customer.dob" class="form-control"></td>
          <td>
            <button type="button" class="btn btn-red" (click)="toggleEdit()">
              {{ isEditing ? 'Save' : 'Edit' }}
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row adress">Adress</th>
          <td *ngIf="!isEditing">{{ customer.address }} {{customer.postalCode}}</td>
          <td *ngIf="isEditing">
            <input [(ngModel)]="customer.address" class="form-control" placeholder="Address">
            <input [(ngModel)]="customer.postalCode" class="form-control" placeholder="Postal Code">
          </td>
          <td>
            <button type="button" class="btn btn-red" (click)="toggleEdit()">
              {{ isEditing ? 'Save' : 'Edit' }}
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">Telefon</th>
          <td *ngIf="!isEditing">{{ customer.phonecode }}{{ customer.phoneNumber }}</td>
          <td *ngIf="isEditing">
            <input [(ngModel)]="customer.phonecode" class="form-control" placeholder="Phone Code">
            <input [(ngModel)]="customer.phoneNumber" class="form-control" placeholder="Phone Number">
          </td>
          <td>
            <button type="button" class="btn btn-red" (click)="toggleEdit()">
              {{ isEditing ? 'Save' : 'Edit' }}
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">Lösenord</th>
          <td *ngIf="!isEditing">{{ customer.password }}</td>
          <td *ngIf="isEditing"><input [(ngModel)]="customer.password" class="form-control" type="password"></td>
          <td>
            <button type="button" class="btn btn-red" (click)="toggleEdit()">
              {{ isEditing ? 'Save' : 'Edit' }}
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <button type="button" class="btn btn-red" (click)="deleteAccount()">
              Delete Account
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <ng-template #noCustomer>
      <tr>
        <td colspan="3" class="text-center">No customer details available</td>
      </tr>
    </ng-template>
  </table>
</div>