<div class="container">
  <h2>Mina Kvitton</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Butik</th>
        <th scope="col">Datum</th>
        <th scope="col">Tid</th>
        <th scope="col">Kvittonummer</th>
        <th scope="col">Total (SEK)</th>
        <th scope="col">Bild</th>
        <th scope="col">Ändra</th>
        <th scope="col">Radera</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="receipts.length > 0; else noReceipts">
        <tr *ngFor="let receipt of receipts">
          <td *ngIf="!isEditing[receipt.id]">{{ receipt.butik }}</td>
          <td *ngIf="isEditing[receipt.id]"><input [(ngModel)]="receipt.butik" class="form-control"></td>

          <td *ngIf="!isEditing[receipt.id]">{{ receipt.datum }}</td>
          <td *ngIf="isEditing[receipt.id]"><input [(ngModel)]="receipt.datum" class="form-control"></td>

          <td *ngIf="!isEditing[receipt.id]">{{ receipt.tid }}</td>
          <td *ngIf="isEditing[receipt.id]"><input [(ngModel)]="receipt.tid" class="form-control"></td>

          <td *ngIf="!isEditing[receipt.id]">{{ receipt.kvittonummer }}</td>
          <td *ngIf="isEditing[receipt.id]"><input [(ngModel)]="receipt.kvittonummer" class="form-control"></td>

          <td *ngIf="!isEditing[receipt.id]">{{ receipt.totalPrice }}</td>
          <td *ngIf="isEditing[receipt.id]"><input [(ngModel)]="receipt.totalPrice" class="form-control"></td>

          <td>
            <img *ngIf="receiptImages[receipt.id]" [src]="receiptImages[receipt.id]" alt="Receipt Image" width="100">
          </td>

          <td>
            <button type="button" class="btn btn-red" (click)="toggleEdit(receipt)">
              {{ isEditing[receipt.id] ? 'Spara' : 'Ändra' }}
            </button>
          </td>

          <td>
            <button type="button" class="btn btn-black ml-2" (click)="onRemoveButtonClick(receipt)">
              Radera
            </button>
          </td>

          <td>
            <button type="button" class="btn btn-red ml-2" (click)="downloadReceipt(receipt.id)">
              Ladda ner
            </button>
          </td>

        </tr>
      </ng-container>
    </tbody>
  </table>

  <ng-template #noReceipts>
    <tr>
      <td colspan="8" class="text-center">No receipts found.</td>
    </tr>
  </ng-template>

  <div class="upload-section">
    <h3>Ladda upp kvitto</h3>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <input [(ngModel)]="newReceipt.butik" placeholder="Butik" class="form-control mt-2">
    <input [(ngModel)]="newReceipt.datum" placeholder="Datum" class="form-control mt-2">
    <input [(ngModel)]="newReceipt.tid" placeholder="Tid" class="form-control mt-2">
    <input [(ngModel)]="newReceipt.kvittonummer" placeholder="Kvittonummer" class="form-control mt-2">
    <input [(ngModel)]="newReceipt.totalPrice" placeholder="Total (SEK)" type="number" class="form-control mt-2">
    <button type="button" class="btn btn-red mt-2" (click)="uploadReceipt()">Ladda upp</button>
  </div>

  <app-confirm-deletion-dialog *ngIf="showConfirmDialog" [receipt]="currentReceipt"
    (onConfirm)="removeReceipt(currentReceipt!)"
    (onDismiss)="cancelRemove()">
  </app-confirm-deletion-dialog>

</div>
