.btn.upload-first {
  padding: 10px 20px;
}

.table.table-striped.table-hover {
  margin-bottom: 60px;
}

.text-center.mt-3 {
  margin-bottom: 200px;
}

.btn-red, .upload-first {
  background-color: red;
  border-color: red;
  color: white;
}

.btn-red:hover, .upload-first:hover {
  background-color: darkred;
  border-color: darkred;
}

.btn-black, .upload-first {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  color: white;
}

.btn-black:hover, .upload-first:hover {
  background-color: rgb(36, 29, 29);
  border-color: rgb(35, 31, 31);
}

.btn-yellow, .upload-first {
  background-color: #ffee00;
  border-color: #ffee00;
  color: white;
}

.btn-yellow:hover, .upload-first:hover {
  background-color: #8b7100;
  border-color: #8b7100;
}


@media (max-width: 599px) {
  .upload-section input[type="file"],
  .upload-section input[type="text"],
  .upload-section input[type="date"],
  .upload-section input[type="number"],
  .upload-section .form-control, 
  .upload-section button, 
  .upload-section h3 {
      width: auto; 
      margin-right: 15px;
      margin-bottom: 15px; 
      text-align: left; 
  }    
  .table, .table tbody, .table td, .table tr {
    display: block;
    width: auto;  
    margin-right: 15px;
  }   
  
  .table thead tr {
    display: none;
  }   

  .table td {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
  }

  td:nth-of-type(1):before {
    content: "Butik: ";
    font-weight: bolder;
  }  

  td:nth-of-type(2):before {
    content: "Datum: ";
    font-weight: bolder;
  }   

  td:nth-of-type(3):before {
    content: "Tid: ";
    font-weight: bolder;
  }     

  td:nth-of-type(4):before {
    content: "Kvittonummer: ";
    font-weight: bolder;
  }    

  td:nth-of-type(5):before {
    content: "Total (SEK): ";
    font-weight: bolder;
  }   
}

