<!-- registrera.component.html -->

  <main>
    <section id="signup">
      <div class="signup-form"> <!--registration form-->
        <form id="signupForm">
          <label for="name">Namn:*</label>
          <input type="text" id="name" name="name" required>
  
          <label for="email">E-post:*</label>
          <input type="email" id="email" name="email" required>

          <label for="password">Lösenord:*</label>
          <input type="password" id="password" name="password" required> 


            <!-- Checkboxes -->
            <label class="checkbox-label">
              <input type="checkbox" id="privacyPolicy" name="privacyPolicy">
              Jag har läst och förstått&nbsp;<a href="#privacy">Integritetspolicy</a>.
            </label>
  
            <label class="checkbox-label">
              <input type="checkbox" id="termsOfService" name="termsOfService">
              Jag har läst och accepterar&nbsp;<a href="#terms">Användarvillkor</a>.
            </label>
  
            <label class="checkbox-label">
              <input type="checkbox" id="offers" name="offers">
              Jag vill få erbjudanden / prenumerera på nyhetsbrev.
            </label>

  
          <button type="submit" class="signup-btn">Registrera</button>
        </form>

      </div><!--end of registration form-->
    </section>
  </main>


  