main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; 
  background-color: #f4f4f4;
}

.signup-form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;   /* wider form*/
  margin: auto;
}  


.signup-form label {
  display: block;
  margin-bottom: 8px;
}

.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="text"],
.signup-form input[type="number"],
.signup-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-btn {
width: 100%;
padding: 15px;
background-color: #fc0505; 
border: none;
border-radius: 25px;
color: white;
font-size: 16px;
cursor: pointer;
display: block; 
}

.signup-btn:hover {
background-color: #fc4d4dd7; 
}

/* checkboxes */
.signup-form input[type="checkbox"] {
width: 20px;  
height: 20px; 
margin-right: 10px; 
vertical-align: middle; 
}


.signup-form label.checkbox-label {
display: flex;
align-items: center; 
margin-bottom: 20px; 
}

